body{
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    padding-right: 30px!important;
}
.carousel-img-center{
    height: 350px;
}
.text-clr{
    color: #707070;
    font-weight: 300;
}
.button-style{
    background: #000;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}
.container{
    margin-bottom: 100px;
}
#banner{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    position: relative;
    background-position-y: bottom;
    background-size: 140px;
}
.see-more-btn{
    color: #FF9D00;
    text-decoration: none;
}
.card{
    padding: 40px;
    border: none;
    box-shadow: 8px 8px 20px lightgray;
}
.card-footer{
    background: none;
    border-top: none;
}
.cate-heading{
    text-align: center;
}
.line{
    width: 150px;
    height: 5px;
    background-image: linear-gradient(45deg,#FF9C35,#FFD019);
    margin: auto;
    border-radius: 15px;
}
.cate-img{
    box-shadow: 8px 8px 20px lightgray;
    padding: 50px;
    border-radius: 10px;
}